.weather-bg{

background: url("https://cdn.pixabay.com/photo/2021/03/11/02/57/mountain-6086083_1280.jpg");
height: 70vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
font: bolder;
}

.WeatherResultbox{

margin: auto;
width: 500px;
height: 350px;
}
.Cloud-icon{
height: 100px;
width: 100px;
margin-top: 1.5rem;

}
.weather-city{
font-size: 30px;


}
.weather-temprature{
font-size: 55px;
font-weight: 700;


}
.weather-bg h1{
background-color: rgb(10, 10, 50);
border-radius: 10px;

}